/*  your css code here. If applicable */

div{
	
	background-color:lightblue;
	height:200px;
	width:200px;
	border:2px solid black;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
p{
	color:purple;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%);
	
}